/*
Style to help identify the elements during the developing stages.
*/

*,
html,
body {
	margin: 0;
	padding: 0;
	font-size: 6.25%;
	scroll-behavior: smooth;
	font-family: "Courier New", Courier, monospace;
	overflow-x: hidden;
}

body {
	width: 100vw;
	display: flex;
	flex-flow: wrap;
	align-items: center;
	justify-content: center;
}

.divider {
	width: 100vw;
	height: 0;
}

.filter-container {
	margin: 25px auto 50px auto;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-flow: row wrap;
	align-content: flex-start;
	width: 700px;
}

.filter-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding: 5px;
	box-sizing: border-box;
	flex: 1;
}

.filter:not(.zero) {
	width: 100px;
	height: auto;
	margin: 10px 10px 0px 0px;
}

.zero {
	max-width: 90px;
	max-height: 90px;
	margin: 25px auto 0 auto;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
}

.hide {
	display: none;
}

.masterball {
	display: flex;
	box-sizing: border-box;
	width: 150px;
	flex-direction: column;
	margin: 10px;
	border: 1px solid #000;
	background-color: bisque;
}

.pokecard {
	box-sizing: border-box;
	width: 150px;
	height: 200px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sprite {
	width: 150px;
	height: 150px;
}

.name,
.type,
.id {
	color: black;
	text-align: center;
}

.name {
	font-size: 15px;
	text-transform: uppercase;
}

.type,
.id {
	font-size: 12px;
}

.btn-container {
	box-sizing: border-box;
	height: 90px;
	width: 100%;
	display: flex;
	flex-flow: column;
}

.save-btn,
.delete-btn,
.edit-btn {
	font-size: 15px;
	box-sizing: border-box;
	background-color: white;
	width: 148px;
	height: 30px;
	margin-top: 5px;
	border: none;
	background-color: aqua;
}
