*,
html,
body {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	font-family: "Courier New", Courier, monospace;
	overflow-x: hidden;
}

body,
.main-battle-container,
.main-pocketball-container {
	width: 100vw;
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: center;
}

.main-battle-container {
	height: 75vh;
	background-color: antiquewhite;
}

.main-pocketball-container {
	height: 25vh;
	background-color: blueviolet;
}

.battle-container,
.pocketball-container {
	width: 50vw;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	flex-flow: column wrap;
	align-content: center;
	background-color: bisque;
}

.battle-txt-container {
	background-color: aquamarine;
}

.champion-pocketball,
.enemy-pocketball {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	flex-flow: column wrap;
	align-content: center;
	background-color: red;
}

/*
.pocketball {
	
}

.img {
	
}

.txt {
	
}

.enemy-pocketball {
	
}

.champion-pocketball {
	
}
*/
/*
champion pokeball container

        champion pokeball
            img
            name
            hp

enemy pokeball container

        enemy pokeball
            img
            name
            hp
---
battle
    
    champion battle info
        img
        txt container
            name
            hp txt
            xp txt

    enemy battle info
        img
        txt container
            name
            hp txt
            xp txt
*/
