*,
html,
body {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	font-family: "Courier New", Courier, monospace;
	overflow-x: hidden;
}

body,
.battle-container,
.pocketball-container {
	width: 100vw;
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: space-evenly;
}

.battle-container {
	height: 75vh;
	background-color: antiquewhite;
}

.pocketball-container {
	height: 25vh;
	background-color: bisque;
}

.champion,
.enemy {
	width: 50vw;
	background-color: cadetblue;
}

.pocketball {
	/*empty*/
}

.img {
	/*empty*/
}

.txt {
	/*empty*/
}

.enemy-pocketball-one,
.enemy-pocketball-two,
.enemy-pocketball-three,
.enemy-pocketball-four,
.enemy-pocketball-five,
.enemy-pocketball-six {
	/*empty*/
}

.champion-pocketball-one,
.champion-pocketball-two,
.champion-pocketball-three,
.champion-pocketball-four,
.champion-pocketball-five,
.champion-pocketball-six {
	/*empty*/
}

/*
champion pokeball container

        champion pokeball
            img
            name
            hp

enemy pokeball container

        enemy pokeball
            img
            name
            hp
---
battle
    
    champion battle info
        img
        txt container
            name
            hp txt
            xp txt

    enemy battle info
        img
        txt container
            name
            hp txt
            xp txt
*/
